.map-whole{
    position: relative;
}

.left-whole{
    height: 80vh;
    position: absolute;
    width: 50%;
    top:80px;
    overflow-y: scroll;
}

.left-whole::-webkit-scrollbar{
    display: none;
}

.left-whole {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

.map-container, .date-container{
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    z-index: 4 !important;
}

.hotels{
    margin-left: 33%;
}

.st-path{
    background-color: red;
    width: 1px;
    height: 270px;
    position: absolute;
    margin-top: 61px;
    left: 17%;
    z-index: 1;
}


.place-det{
   margin-left: 15%;
   margin-bottom: 10px;
   margin-top: 30px;
}


.map-left, .map-right{
    border-radius: 10px;
    -webkit-box-shadow: 5px 4px 20px 0 rgb(0 0 0 / 10%);
    box-shadow: 5px 4px 20px 0 rgb(0 0 0 / 10%);
    background-color: var(--white-color);
}

.map-left{
    width:30%;
    border-right: 1px dashed #ebebee;
    text-align: center;
}

.circle-path{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-left: 13.8%;
    margin-top: 60px;
}

.map-right{
    width: 80%;
    cursor: pointer;
    position: relative;
}

.map-right::after{
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 5px;
    height: 20px;
    background-color: rgba(0,0,0,.09);
    border-radius: 3px 0 0px 3px;
}

.non-stop{
    color:#43d359;
    font-size: 10px;
    margin-top: 4px;
    margin-left: -20px;
    font-weight: 400;
}

/*right bottom container*/

.right-bottom-container{
    width: 270px;
    position: absolute;
    right: 80px;
    bottom: 30px;
    background-color: var(--white-color);
    -webkit-box-shadow: 5px 4px 20px 0 rgb(0 0 0 / 10%);
    box-shadow: 5px 4px 20px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 10px 15px;
}

.check-icon-cont{
    position: relative;
}

.check-icon{
    position: absolute;
    right: 10px;
    top: -20px;
}

.top-date{
    padding: 10px 0;
    display: flex;
    font-size: 12px;
    color: #111;
    font-weight: 700;
    justify-content: space-between;
}

.right-route{
    color: #888;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    padding: 5px 0;
    margin-bottom: 8px;
}



.long-para{
    font-size: 12px;
    color:#4a4a4a;
    padding-top: 25px;
}

.price-scheme{
    display: flex;
    justify-content: space-between;
}

.price-bottom-left, .price-top-left{
    display: flex;
}

.price-top-right, .price-bottom-right, .price-bottom-left{
    font-size: 12px;
    font-weight: 400;
    color: #4a4a4a;
}

.total-price{
    font-size: 14px;
    color: #111;
    font-weight: 700;
    padding-top: 10px;
    margin-top:5px;
    display: flex;
    justify-content: flex-end;
    border-top: 0.5px solid #ebebee;
}

.personal-item{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    margin:30px 0 10px 0;
    color: #4a4a4a;
    cursor: pointer;
}

.personal-item img{
    width: 12px !important;
    margin-right: 10px;
}

.pasng-select{
    position: absolute;
    left: 0;
    background-color: var(--white-color);
    border: 1px solid var(--black-color);   
    width: fit-content;
    z-index: 1;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}

    .pasng-select div{
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }
    
    .pasng-select div:hover{
      background-color: var(--blue-color);
    }

 /*bottom container*/
 
 .bottom-container{
    height: 100px;
    margin: 0;
    padding: 10px 20px;
    -webkit-box-shadow: 5px 4px 20px 0 rgb(0 0 0 / 10%);
    box-shadow: 5px 4px 20px 0 rgb(0 0 0 / 10%);
    background-color: var(--white-color);
    width: 100%;
    margin-top: 100px;
 }

 .bottom-text{
   color: #111;
   font-size: 12px;
   font-weight: 500;
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
 }

 .maps{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    margin: 0;
 }

 .custom-btn{
    border-radius: 30px;
    background-color: var(--white-color);
    -webkit-box-shadow: 5px 4px 20px 0 rgb(0 0 0 / 10%);
    box-shadow: 5px 4px 20px 0 rgb(0 0 0 / 10%);
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0 5px;
    height:40px;
    text-align: center;
 }

 .subtitle{
    color: var(--grey-color);
    font-weight: 500;
    font-size: 12px;
 }

 /*share modal*/
 .content{
    text-align: center;
    padding: 10px !important;
    min-height: 150px !important;
 }

 .head-text{
   font-size: 16px;
   font-weight: 300;
   letter-spacing: .3px;
 }

 .text-btn{
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 0 3px #666;
    box-shadow: inset 1px 0 3px #666;
    margin: 10px 0;
    padding: 10px;
    overflow: hidden;
 }

 .copy-btn{
    position: relative;
 }

 .btn-copy{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
 }

 /*route modal*/

 .date.nav{
    display: flex !important;
    justify-content: space-evenly !important;
 }

.date.nav-item{
    width: 100px !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13px !important;
}

.date .nav-link.active{
    border-bottom: 2px solid rgb(76, 217, 100) !important;
    color: rgb(76, 217, 100) !important;
}

 /*city modal*/

 .route-content{
    margin-top: 10px;
 }

 .route-head{
    font-size: 13px;
    font-weight: 500;
    color: #6d6d72;
    background-color: #eee;
    padding: 20px 10px 9px;
    border-top: 1px solid #ddd;
    text-transform: uppercase;
 }

 .route-body{
    height: 200px;
    overflow-y: scroll;
    background-color: #fafafa;
 }

 .list{
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
 }

 .second-list{
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
 }

 .second-list:hover{
    background-color: var(--grey-next);
 }

 .list-name{
    display: flex;
    width: 70%;
    align-items: center;
 }

 .plane{
    width: 10%;
 }

@media (min-width:600px) and (max-width:1128px) {
    .non-stop{
        margin-left: -25px;
    }
}

@media (min-width:900px) and (max-width:1128px) {
   .st-path{
    left: 18%;
   }
}

@media (min-width:728px) and (max-width:900px) {
    .st-path{
     left: 19%;
    }
 }

 @media (min-width:600px) and (max-width:718px) {
    .st-path{
        left: 17.5%;
    }
 }

 @media (min-width:400px) and (max-width:600px) {
    .st-path{
        left: 18.3%;
    }
 }

 @media (min-width:0px) and (max-width:400px) {
    .st-path{
        left: 20.5%;
    }
 }

 @media (min-width:0px) and (max-width:728px) {
    .maps{
        position: static;
        z-index: 1;
    }

    .left-whole{
        position: static;
        width: 100%;
        height: fit-content;
    }
 }

@media (min-width:0px) and (max-width:750px) {
    .map-container, .date-container{
        width: 100%;
    }

    .map-container{
        padding-right: 40px;
    }

    .right-bottom-container{
        width: 90%;
        position: static;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 40px
    }
    .hotels{
        margin-left: 30%;
    }
}