@import url('../styles/constant.css');

.navbar{
    padding:0px;
    position: relative;
    height: 80px;
}

.map{
    z-index: 3;
}

.navbar-fixed{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2999;
}

.navbar-fixed-active{
    background-color: #efefef;
    -webkit-box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
}

.left-logo{
    width: 30%;
    padding: 30px 20px 0 30px;
}

.nav-brand{
    display: flex;
    margin-top: -30px;
}

.left-logo span {
    /* padding-top: 28px; */
    padding-left: 35px;
} 

.mid-right{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.mid-links{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.right-links{
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
}

.toggle-icon{
    display: none;
}

.each-links{
    margin-right: 18px;
    margin-left: 18px;
}

.global-logo{
    margin-right: 8px;
    margin-top: -2px;
}

.circle{
    width: 32px;
    height: 32px;
    color: var(--white-color);
    border-radius: 100%;
    border: 3px solid var(--white-color);
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}


.route-type{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .9px;
    cursor: pointer;
    margin: 0 20px;
}

/* .route-type.active{
    border-bottom: 2px solid black;
} */

.toggle-home{
    display: none;
}

@media (min-width:1028px) and (max-width:1150px) {
    .route-city{
        display: none;
    }
}

@media (min-width:728px) and (max-width:1028px) {
    .route-city{
        display: inline;
    }
}

@media (min-width:0px) and (max-width:1028px) {

    .mid-right{
        padding: 0;
        position: relative;
        background-color: white;
        -webkit-box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
        box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
    }

    .mid-links{
        width: 80%;
        justify-content: space-around;
    }

    .mid-right .right-links{
        display: none;
    }

    .toggle-icon{
        border-left: 1px solid #dadae3;
        height: 80px;
        display: inline-block;  
        width: 10%;
        position: absolute;
        right: 0;
        padding-left:10px;
        padding-top: 25px;
    }
}

@media (min-width:0px) and (max-width:728px) {
    .route-city{
        display: none;
    }
}

@media (min-width:0px) and (max-width:780px) {
    .left-logo{
        width: fit-content;
    }

    .left-logo span{
        display: none;
    }

    .map{
        height: 50px;
        background-color: white;
        -webkit-box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
        box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
    }

    .map .nav-brand{
        display: none;
    }
    
    .mid-right{
        background-color: transparent;
        box-shadow: none;
    }

    .mid-links{
        margin-top: 15px;
        margin-right: 50px;
        display: flex;
        justify-content: space-around;
    }
 
    .map .left-logo{
        height: 50px;
        width: 10%;
        padding: 10px 0;
        border-right: 1px solid #dadae3;
    }

    .toggle-home{
        display: inline;
    }

    .map .left-logo{
        padding-left: 0px;
    }

    .mid-right{
        width: 90%;
    }

    .toggle-icon{
        height: 50px;
        padding-top: 10px;
    }
}

@media (min-width:0px) and (max-width:710px) {

   .each-links-text{
    display: none;
   }
}

@media (min-width:0px) and (max-width:500px) {

    .toggle-icon{
     padding-left: 2px;
    }

    .map .left-logo{
        padding-left: 0px;
        margin: 0px;
        width: 15%;
    }

    .mid-right{
        width: 80%;
    }

    .toggle-icon{
        width: 12%;
    }
 }