.payment-comp{
    background-color: #efefef;
    padding-top: 100px;
}

.route-line{
    margin: 0 70px 40px;
    font-size: 30px;
    color: var(--red-color);
}

.pay-body{
    display: flex;
}

.payment-form{
    width: 70%;
}

.total-estimate-payment{
    width: 30%;
    padding-left: 40px;
    position: fixed;
    right: 0;
    padding-right: 10px;
}

.pay-body.row>*{
    padding: 0px !important;
}

.payment-form{
    /* border: 1px solid var(--grey-color); */
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
    border-radius: 8px;
    margin:0 10px;
}

.head-outer, .head-outer-first{
    background-color: var(--grey-next);
}

.head-outer{
  margin: 10px 0;
}

.head-outer-first{
    margin: 0px;
    
    padding: 0px !important;
    padding-top: 10px !important;
    border-radius: 8px 8px 0 0px;
}

.head-inner{
    display: flex;
    position: relative;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.head-inner .left-head{
    display: flex;
}

.left-text{
    position: absolute;
    right: 30px;
    color: var(--grey-color);
}

.sno{
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: var(--grey-color);
    color: var(--white-color);
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
}

.pay-logo{
    position: absolute;
    right: 30px;
}

.form-head{
    font-size: 18px;
    font-weight: bold;
    width: 300px;
}

.body-container{
    padding: 20px 30px;
}

.form-cont .form-select{
    font-size: 14px !important;
}

.form-cont .form-control{
    font-size: 14px !important;
}

.pay-body .form-control, .pay-body .form-select, .pay-body .input-group-text{
 background-color: var(--grey-fourth);
 -webkit-box-shadow: 0 4px 20px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 5%);
}

.phone{
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
}

.phone.form-control{
    height: 28px !important;
}

.body-container .form-control:focus{
    box-shadow: 0px 0px red !important;
    border: 1px solid black;
}

.body-container .form-select:focus{
    border: 1px solid black;
}

@media (min-width:0px) and (max-width:1000px) {
   .pay-body{
    display: block;
    width: 100%;
    overflow-x: hidden;
   }    

   .payment-form{
    width: 100%;
    margin:0;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
   }

   .total-estimate-payment{
    width: 100%;
    position: static;
    padding: 0 30px;
   }
}


@media (min-width:0px) and (max-width:650px) {

    .pay-logo{
        position: static;
        margin-bottom: 10px;
    }

    .pay-logo .img-2{
        display: none;
    }

    .logos .head-inner{
        display: block;
    }
}

@media (min-width:0px) and (max-width:600px) {
    .route-line{
        margin: 0 30px 40px;
    }
}

@media (min-width:0px) and (max-width:400px) {
   .form-head{
    width: 200px;
   }
}