.radio .form-check-input{
    background-color: transparent !important;
    border: 1px solid var(--grey-color);
    margin-right: 5px !important;
}

.radio .form-check-input:checked{
    background-image: url("../images/greencircle.png") !important;
    background-size: 20px;
}

.radio .form-check-label{
    margin-top: 4px;
    font-weight: 500;
    color: #666;
    font-size: 18px;
}

.pay-image{
    height: 40px;
    width: 14px;
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.each-image{
    margin-right: 5px !important;
}

.col-left-1, .col-mid-1, .col-right-1{
   width: 32%;
}

.col-left-1, .col-mid-1{
    margin-right: 1%;
}

.col-mid-1, .col-right-1{
    margin-left: 1%;
}

.input-group-text{
    background-color: var(--white-color);
}

.card-no .form-control{
    border-right: 0px !important;
    border-left: 0px !important;
}

.card-no .form-control:focus{
    border: 1px solid #ced4da !important;
    border-right: 0px !important;
    border-left: 0px !important;
}

.card-no .form-check-input{
    width: 20px;
    height: 20px !important;
    border: 2px solid var(--grey-color) !important;  
}

.card-no .form-check-input:checked{
   background-color: var(--blue-color);
}

.image-pay{
    display: flex !important;
}

.image-pay-left, .image-pay-right{
    width: 50%;
}

.card-no .form-control{
    border-left:0px !important;
    border-right: 0px !important;
}

.card-no .input-group-text.left{
    border-right: 0px !important;
}

.card-no .input-group-text.right{
    border-left: 0px !important;
}

@media (min-width:950px) and (max-width:1150px) {
    /* .pay-image, .paypal-img{
        display: none;
    } */

    .image-pay-left{
        width: 70%;
    }

    .image-pay-right{
        width: 30%;
    }
    
}

@media (min-width:0px) and (max-width:950px) {
     .pay-image, .paypal-img{
        display: none;
    } 
}

@media (min-width:0px) and (max-width:650px) {
    .col-left-1, .col-mid-1, .col-right-1{
        width: 100%;
     }

     .radio .form-check-label{
        margin-top: 4px;
        font-weight: 500;
        color: #666;
        font-size: 14px;
    }

     .image-pay-left{
        width: 65%;
    }

    .image-pay-right{
        width: 35%;
    }

    .input-group-text.left{
        display: none;
    }

    .card-no .form-control{
        border-left: 1px solid #ced4da !important;
        border-top-left-radius: 0.375rem !important;
        border-bottom-left-radius: .375em !important;
    }
}