.notice{
    font-weight: 400;
    font-size: 12px;
    color: #97979c;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

.form-cont{
    background-color: var(--white-color);
    border-radius: 8px;
    margin-bottom: 60px;
}

.form-cont-inner{
    padding: 20px 20px 10px 20px;
    position: relative;
}

.form-cont-shadow{
    box-shadow: inset 0 8px 20px 0 rgb(0 0 0 / 5%);
    padding: 10px;
    min-height: 81px;
    display: flex;
    justify-content: end;
    position: relative;
}

.form-shadow-text{
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.btn-pay, .btn-pay-green{
    width: 100%;
    color: var(--white-color);
    padding: 4px 8px;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    border-radius: 8px;
    text-transform: uppercase;
    border: 0px;
}

.btn-pay{
    background-color: black !important;
}

.btn-pay-green{
    background-color: var(--green-color);
}

.each-row{
    margin-bottom: 20px !important;
}

.each-form-col{
    margin-right: 13% !important;
}

.pay-row{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.pay-row-o-margin{
    display: flex;
    width: 100%;
}

.col-left, .col-right{
    width: 49%;
}

.col-left{
    margin-right: 1%;
}

.col-right{
    margin-left: 1%;
}

.col-mid{
    margin:0 1%;
}

.col-day{
    width: 22%;
    margin-right: 1%;
}

.col-month{
    width:42%;
    margin:0 1%
}

.col-year{
  width:32%;
  margin-left: 1%;
}

.price-btn{
    border: 1px solid var(--grey-fourth);
    cursor: pointer;
    height: 40px;
    width: 121px;
    border-radius: 6px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    position: relative;
}

.popover-cont{
    background-color: var(--white-color);
    border-radius: 4px;
    border: 1px solid var(--grey-color);
    box-shadow: 0px 2px 2px var(--grey-fourth);
    padding: 5px;
    position: absolute;
    left: 40%;
    bottom: 90%;
    z-index: 999;
}