.total-payment-comp{
    border-radius: 8px;
    padding: 20px;
    padding-bottom: 13px;
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
    background-color: var(--white-color);
}

.total-pay-title{
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.pay-note{
    display: flex;
    justify-content: space-between;
}

.pay-note .left{
    color: #999;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px;
}

.pay-note .right{
    font-weight: 700;
    font-size:14px;
    text-transform: uppercase;
}

.border-pay{
    border-top: 1px dashed #d9d9d9;
    margin-top: 25px;
}

.pay-head{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.pay-text1, .pay-foot1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.pay-text1{
    color: #999;
}

.pay-text2{
    color: #999;
    font-weight: 300;
}

.pay-text3, .pay-foot3{
    font-size: 24px;
    font-weight: 400;
}

.pay-text3{
    color: #999;
}

.pay-foot3{
    color: #4cd964;
}

.pay-text4{
    font-size: 12px;
    font-weight: 400;
    color: #666;
    margin-top: 5px;
    font-family: Roboto;
}

.pay-text5{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 14px;
    color: #3bd963;
    font-weight: 400;
}
